/* #region CARD */

.card {
    --card-button-color: hsl(0, 0%, 89%);
    --card-button-hover-color: hsl(0, 0%, 25%);
    --card-button-background: hsl(207, 100%, 36%);
    --card-button-hover-background: hsl(207, 100%, 73%);
    --card-button-github-color: hsl(2, 82%, 90%);
    --card-button-github-hover-color: hsl(2, 82%, 10%);
    --card-button-github-background: hsl(2, 82%, 40%);
    --card-button-github-hover-background: hsl(2, 82%, 80%);
    --card-border-radius: 0.6em;
    border-radius: var(--card-border-radius);
    box-shadow: 4px 4px 9px 0 hsla(0, 0%, 0%, 0.75);
    color: hsl(0, 0%, 89%);
    background-color: hsl(0, 0%, 10%);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width: 512px;
    filter: brightness(0.8);
    transition: filter 300ms;
}

.card:hover {
    filter: brightness(1);
}

.card.js-hidden {
    display: none;
}

.card__link {
    text-decoration: none;
    font-weight: 500;
    color: var(--card-button-hover-background);
}

.card__link:hover {
    text-decoration: underline;
}

.card__header {
    position: relative;
    overflow: hidden;
    height: 256px;
    cursor: zoom-in;
}

.header__image {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
    transition: all 300ms;
}

.imageCenter {
    object-position: center;
}

.imageTop {
    object-position: top;
}

.card__content {
    flex-grow: 1;
    position: relative;
    bottom: 0;
    padding: 1em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
}

.card__keyWords {
    color: hsl(0, 0%, 60%);
    font-size: 0.8em;
    margin-bottom: 2em;
}

.card__separator {
    font-size: 1.3em;
    color: var(--card-button-hover-background);
}

.content__title {
    font-weight: 400;
    margin: 0 0 0.25em;
}

.content__text {
    font-weight: 300;
    margin: 0;
}

.content__links {
    display: flex;
    justify-content: flex-end;
}

.content__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 120px;
    font-weight: 500;
    text-decoration: none;
    margin-top: 1em;
    transition: background-color 150ms, color 150ms;
}

.content__link:first-child {
    border-radius: var(--card-border-radius) 0 0;
}

.content__linkIcon {
    width: 32px;
    height: 32px;
}

.goTo {
    color: var(--card-button-color);
    background-color: var(--card-button-background);
}

.goTo:hover {
    color: var(--card-button-hover-color);
    background-color: var(--card-button-hover-background);
}

.gitHub {
    color: var(--card-button-github-color);
    background-color: var(--card-button-github-background);
}

.gitHub:hover {
    color: var(--card-button-github-hover-color);
    background-color: var(--card-button-github-hover-background);
}

.gitHub .content__linkIcon {
    fill: var(--card-button-github-color);
    transition: fill 150ms;
}

.gitHub:hover .content__linkIcon {
    fill: var(--card-button-github-hover-color);
}

.content__link:focus {
    outline: none;
    border: 2px solid hsl(0, 0%, 100%);
}

.content__link:first-child:focus {
    outline: none;
    border: 2px solid hsl(0, 0%, 100%);
    border-top-left-radius: var(--card-border-radius);
}

.content__link:last-child:focus {
    outline: none;
    border: 2px solid hsl(0, 0%, 100%);
    border-bottom-right-radius: var(--card-border-radius);
}

@media only screen and (max-width: 400px) {
    .card {
        border-radius: 0;
    }
}


/* #endregion CARD */