.modal {
    --main-padding: 1em;
    --modal-border-radius: 0.5em;
    --modal-transition: 300ms;
    --modal-header-height: 48px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--modal-transition) ease-out, visibility var(--modal-transition) ease-out;
}

.modal.js-active {
    opacity: 1;
    visibility: visible;
}

.modal.js-active .modal__window {
    transform: scale(1);
}

.modal__window {
    display: grid;
    grid-template-rows: var(--modal-header-height) 1fr;
    width: 90vw;
    height: 90vh;
    max-width: 400px;
    max-height: 500px;
    color: hsl(0, 0%, 90%);
    background-color: hsl(0, 0%, 10%);
    border-radius: var(--modal-border-radius);
    overflow: hidden;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.5);
    transform: scale(0);
    transition: transform var(--modal-transition) ease-out;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 var(--main-padding);
    background-color: hsl(2, 22%, 20%);
}

.modal__description {
    margin: 0;
    padding: var(--main-padding);
}

.modal__title {
    margin: 0;
    font-weight: 400;
}

.modal__close {
    width: var(--modal-header-height);
    height: var(--modal-header-height);
    background-color: hsl(2, 82%, 40%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 150ms;
}

.modal__close:hover {
    background-color: hsl(2, 82%, 45%);
}

.modal__close:focus {
    outline: none;
    border: 2px solid hsl(2, 22%, 90%);
    border-top-right-radius: var(--modal-border-radius);
}

.modal__icon {
    width: 32px;
    height: 32px;
    fill: hsl(2, 22%, 90%);
}

.modal__content {
    font-weight: 300;
}

.modal__links {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
}

.modal__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-weight: 500;
    text-decoration: none;
    margin-top: 1em;
    padding: 0 1em;
    color: white;
    background-color: hsl(130, 100%, 20%);
    transition: background-color 150ms, color 150ms;
}

.modal__link:first-of-type {
    border-radius: var(--modal-border-radius) 0 0;
}

.modal__link:hover {
    color: hsl(0, 0%, 10%);
    background-color: hsl(130, 100%, 60%);
}

.modal__link:focus {
    outline: none;
    border: 2px solid hsl(130, 100%, 90%);
    border-radius: var(--modal-border-radius) 0 var(--modal-border-radius);
}