@import "./main-menu.css";
@import "./card.css";
@import "./card-list.css";
@import "./footer.css";
@import "./modal.css";
@import "./view.css";
/* @import "./game.css"; */
* {
    box-sizing: border-box;
    font-family: "Segoe UI", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

:root {
    --main-padding: 24px;
    --header-height: 60px;
    --main-background-color: hsl(0, 0%, 15%);
    --main-maxwidth: 1400px;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    background-color: var(--main-background-color);
    margin: var(--header-height) 0 0;
    overflow-x: hidden;
}

.mainHeader {
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--header-height);
    background-color: hsl(0, 0%, 20%);
    box-shadow: 0 5px 9px 0 hsla(0, 0%, 0%, 0.25);
}

.main {
    max-width: var(--main-maxwidth);
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, auto));
    gap: 2em;
    padding: var(--main-padding);
}

.keyWords {
    padding: 2em var(--main-padding) 1em;
}

.keyWords.js-hidden {
    display: none;
}

.keyWords__title {
    color: hsl(0, 0%, 90%);
    font-weight: 300;
}

.keyWordButtons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 0.5em;
}

.keyWord {
    --keyword-border-height: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 0 1em;
    border-top: var(--keyword-border-height) solid transparent;
    border-bottom: var(--keyword-border-height) solid transparent;
    font-weight: 500;
    text-decoration: none;
    outline: none;
    color: hsl(200, 40%, 90%);
    background-color: hsl(0, 0%, 20%);
    transition: background-color 150ms, color 150ms, border 150ms;
}

.keyWord:hover {
    color: white;
    background-color: hsl(200, 65%, 25%);
}

.keyWord.js-selected {
    background-color: hsl(200, 65%, 25%);
    cursor: default;
}

.keyWord:focus {
    background-color: hsl(200, 65%, 40%);
}

.keyWord:active {
    background-color: hsl(200, 65%, 70%);
}

.keyWord.js-selected:focus {
    background-color: hsl(200, 65%, 40%);
}

.hero {
    position: relative;
    z-index: 1;
    max-height: calc(100vh - var(--header-height));
    overflow-y: hidden;
}

.hero.js-hidden {
    display: none;
}

.heroVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.hero__description {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5em 1em;
    margin: 0;
    color: hsla(0, 0%, 90%);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

.description {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: hsl(0, 0%, 90%);
    top: calc(var(--header-height) * -1);
    margin-bottom: calc(var(--header-height) * -1);
}

.description::before {
    content: " ";
    height: var(--header-height);
}

.description__maxwidth {
    padding: var(--main-padding) var(--main-padding) 0;
    max-width: var(--main-maxwidth);
}

.description__title {
    font-weight: 300;
}

.mainScrollTo {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainScrollTo__link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainScrollTo__link:hover .mainScrollTo__icon {
    fill: hsl(2, 42%, 50%);
}

.mainScrollTo__icon {
    width: 48px;
    height: 48px;
    fill: hsl(0, 0%, 95%);
    transition: fill 150ms;
}


/* #region SETTINGS */

.settingsContainer {
    position: relative;
}

.settingsRow {
    display: flex;
    justify-content: space-between;
    padding: 0.75em var(--main-padding);
}

.settingsRow.js-active {
    background-color: hsl(222, 20%, 15%);
}

.settingsRow.js-active:hover {
    background-color: hsl(222, 20%, 18%);
}

.settingsRow:hover {
    background-color: hsl(0, 0%, 12%);
}

.settingsInput {
    outline: none;
}

.settingsVideoSoundLabel.js-disabled {
    filter: brightness(0.5);
}

.settingsVideoSoundLabel.js-disabled:hover {
    background-color: transparent;
}


/* #endregion SETTINGS */

@media only screen and (max-width: 430px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
        gap: 2em 0;
        padding: var(--main-padding) 0;
    }
    .keyWords {
        padding: 0 0 1em;
    }
    .keyWordButtons {
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
        gap: 0.25em;
    }
    .keyWord {
        height: 70px;
    }
    .keyWords__title {
        padding: 0 var(--main-padding);
    }
     :root {
        --header-height: 60px;
    }
}